@import "../../../baseTheme.scss";
.nav-container {
    display: flex;
    // justify-content: space-between;
    &_left{
      flex: 1;
    }
    &_right {
      display: flex;
      margin-right: 50px;
    &_link {
      text-decoration: none;
      text-transform: uppercase;
      @media #{$media-mobile} {
        font-size: 0.7em;
      }
      font-size: 0.9em;
      font-weight: 900;
      color: black;
      margin-right: 10%;
      &:hover{
        color: purple;
      }
    }
  }
}
